# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# IntelliJ related
*.iml
.idea/
*.ipr
*.iws

# VSCode
.vscode/*

# Xcode / iOS
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/.last_build_id
**/ios/Podfile.lock
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Runner/GeneratedPluginRegistrant.*

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/gradle-wrapper.jar
**/android/captures/
**/android/GeneratedPluginRegistrant.java
**/android/key.properties
**/android/app/google-services.json
**/android/app/google-services.plist

# macOS
.DS_Store
**/macos/Flutter/Flutter-Debug.xcconfig
**/macos/Flutter/Flutter-Release.xcconfig
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Pods/
**/macos/Podfile.lock

# Web
**/web/.dart_tool/

# Windows
**/windows/flutter/generated_plugin_registrant.*
**/windows/flutter/generated_plugins.cpp

# Linux
**/linux/flutter/generated_plugin_registrant.*
**/linux/flutter/generated_plugins.*

# Firebase
*.firebase/
firebase.json
firebase-debug.log

# ENV/config
*.env
*.env.*
